{% extends 'base.html' %}
{% load filter_by_user_group %}


{% block body %}

    <a href="{% url 'dashboard:display_dashboard' %}">Go back to the dashboard</a>

    <h1>Forum</h1>
    
    {% if request.user|has_group:"student" %}
        <br>

        <div style="border: 1px solid black; margin-bottom: 20px; padding: 0px 20px 10px 20px;">
            <form method="POST">
                <h2>Ask a question:</h2>
                {{ form.as_p }}
                {% csrf_token %}

                <input type="submit" value="Submit question">
            </form><br>
        </div>
        
    {% endif %}<br>

    <h2>Recent questions:</h2>

    {% for question in question_list %}
        <hr>
        
        <h3>
            <a href="{% url 'forum:question' question.slug %}">
                {{ question.title }}
            </a>
             - @{{ question.created_by }} at {{ question.created_at }}

        </h3>

        <p>
            {{ question.body|truncatechars:500 }}
        </p>
        <p>Answers: {{ question.answer_count }}
                
        </p>
    {% endfor %}
        
{% endblock body %}
    