{% extends 'base.html' %}

{% block title %}
  {{ user.username|title }}'s Dashboard
{% endblock %}

{% block body %}

  <h1>
    {% block greeting %}
      Welcome, {{ user.username|title }}!
    {% endblock %}
  </h1>

  <form method="POST" action="{% url 'user_auth:logout' %}">
    {% csrf_token %}
    <input type="submit" value="logout" />
  </form>


  <!-- navigation/ tools -->
  <div style="display: flex; border: 1px solid black; margin-top: 20px;">

    <div style="flex: 1; padding: 30px 20px;">
        {% block column1 %}
        {% endblock %}
    </div>

    <div style="flex: 1; padding: 30px 20px;">
        {% block column2 %}
        {% endblock %}
    </div>

    <div style="flex: 1; padding: 30px 20px;">
        {% block column3 %}
        {% endblock %}
    </div>

  </div>
{% endblock %}
