{% extends 'dashboard/base_dashboard.html' %}

{% block dashboard1 %}

    <form method="POST" action="{% url 'article:new' %}">
        {% csrf_token %}
        <input type="submit", value="New Article">
    </form>

    <br>
    <a href="{% url 'article:list' %}">View Published Articles</a>

{% endblock %}

{% block dashboard2 %}

    <form method="POST" action="{% url 'quiz:new_quiz' %}">
        {% csrf_token %}
        <input type="submit", value="New Quiz">
    </form>

    <br>
    <!-- we'll have to change this, the following link will take the teacher to the results page  -->
    <a href="{% url 'quiz:list' %}">View Responses to Assigned Quizzes</a> 

{% endblock %}

{% block dashboard3 %}
    Forum
{% endblock %}